* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  :root {
  
      --woodland:#535027;
      --cadetblue: #A3Abc5;
      --spicypink: #816767;
      --Bizarre: #ecdbda;
  
  }
  
  body {
    background-color: #ecdbda;
  }
  
  header {
    padding: 20px;
    font-family: Garamond, Arial, sans-serif; 
    color: #A3Abc5;
    background-color: #535027
   
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #816767;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color:#A3Abc5
  }

  .hero {

    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/pano.jpg");
    background-size: cover;
    background-position: center;
    
 
}



  
  

  
  
 
  

  
