* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  :root {
  
      --woodland:#535027;
      --cadetblue: #A3Abc5;
      --spicypink: #816767;
      --Bizarre: #ecdbda;
  
  }
  
  body {
    background-color: #ecdbda;
  }
  
  header {
    padding: 20px;
    font-family: Garamond, Arial, sans-serif; 
    color: #A3Abc5;
    background-color: #535027
   
  }

  ul {
    display: inline-block;
    list-style-type: none;
  }
  
  /* Main title*/
  header h1 {
    display: inline-block;
    font-size: 32px;
  
  
 
  

  
