html {
    scroll-behavior: smooth;
}

body {
    @apply text-lg;
}

.projects img {
    width: 100%;
}

/* color */
.bg-primary {
    background:  #183D62;
}

.bg-secondary {
    background: #598E9E;
}

.bg-accent {
    background: #DD8B57;
}

.text-accent {
    color: #DD8B57;
}

nav li a {
    @apply px-4 py-5 text-lg;
}

nav li a:hover {
    color: #DD8B57;
}

.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}

/* hero */
h1 {
    font-family: 'Unbounded', sans-serif;
    line-height: 1.5 !important;
}
